@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section scripts {
    <script type="text/javascript">

        $(function () {

            // Texto de subtitulo
            $('#titlebar').text('Bienvenido');


        });
    </script>
}

<div>
    @* <input type="text" placeholder="Textbox ejemplo" />
        <input type="button" value="Botón ejemplo" class="myButton" />*@

    @*<ul class="form">
        <li class="columna33">
            <label for="txtEjemplo">Texto Ejemplo</label>
            <div>
                <input type="text" id="txtEjemplo" style="width: 100%" />
            </div>
        </li>
        <li class="columna33">
            <label for="txtEjemplo2">Texto Ejemplo 2</label>
            <div>
                <input type="text" id="txtEjemplo2" style="width: 100%" />
            </div>
        </li>
        <li class="columna33">
            <label for="txtEjemplo3">Texto Ejemplo 3</label>
            <div>
                <input type="text" id="txtEjemplo3" style="width: 100%" />
            </div>
        </li>
        <li style="clear:both">
            <div style="text-align:right">
                <input type="button" value="Botón ejemplo" class="myButton" />
            </div>
        </li>
        <li style="clear: both">
            <table class="grid" style="width: 100%">
                <tr>
                    <th class="gridHeader">
                        Nombre
                    </th>
                    <th class="gridHeader">
                        Descripción
                    </th>
                    <th class="gridHeader">
                        Opciones
                    </th>
                </tr>
                <tr>
                    <td class="gridColumn">
                        Nombre
                    </td>
                    <td class="gridColumn">
                        Descripción
                    </td>
                    <td class="gridColumnEdit">
                        <a href="#" style="cursor: pointer;">Editar</a> |
                        <a href="#" style="cursor: pointer;">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td class="gridColumn">
                        Nombre 2
                    </td>
                    <td class="gridColumn">
                        Descripción 2
                    </td>
                    <td class="gridColumnEdit">
                        <a href="#" style="cursor: pointer;">Editar</a> |
                        <a href="#" style="cursor: pointer;">Eliminar</a>
                    </td>
                </tr>
            </table>
        </li>
    </ul>*@
</div>
