<div class="alert alert-success fade in hidden" id="alert-success">
    <button type="button" class="close" id="close-success">&times;</button>
    <a class="icon-siga16-msg-ok"></a>
    <label id="a-success"></label>

</div>
<div class="alert alert-info fade in hidden" id="alert-info">
    <button type="button" class="close" id="close-info">&times;</button>
    <a class="icon-siga16-msg-info"></a>
    <label id="al-info"></label>
</div>
<div class="alert alert-warning" id="alert-warning">
    <button type="button" class="close" id="close-warning">&times;</button>
    <a class="icon-siga16-msg-advertencia"></a>
    <label id="al-warning"></label>
</div>
<div class="alert alert-danger fade in hidden" id="alert-danger">
    <button type="button" class="close" id="close-danger">&times;</button>
    <a class="icon-siga16-msg-peligro"></a>
    <label id="al-danger"></label>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        helperjs.iniciarMensajes();
    });
</script>
