
@using Sismuni.Presentacion.Web.Resources
@using Sismuni.Presentacion.Web.Helpers.Html
@using Sismini.Transversal.Mapeo.Recursos

@model Sismuni.Presentacion.Web.Models.Licencia.GestionDisponibilidadInspector.DisponibilidadInspectorPaginadoModelo
@{
    var grid = new WebGrid
    (
        rowsPerPage: Model.Grid.TamanioPagina,
        canSort: Model.Grid.TotalPagina > 0,
        ajaxUpdateContainerId: "grid-det"
    );
    grid.Bind(Model.Grid.ElementosPagina, autoSortAndPage: false, rowCount: Model.Grid.TotalPagina);
}




@grid.Table(
                  fillEmptyRows: false,
                  headerStyle: "sigen-head min-w",
                  tableStyle: "table table-striped table-bordered table-condensed sigen-table-grid",
                  columns: new[]
                  {
                          //grid.Column("IDENCUESTA", "Id", style:"sigen-column-left"),
                          grid.Column("NombresInspector", "Inspector", style:"sigen-column-left" ),
                          grid.Column("NombresEstado", "Disponibilidad", style:"sigen-column-left" ),
                          grid.Column("FechaInicio",
                                        header: "Fec.Inicio",
                                        format: p=>p.fechaHoraInicio == null ? string.Empty : p.fechaHoraInicio.ToString(Formatos.FechaHoraCorta)),
                          grid.Column("FechaFin",
                                        header: "Fec.Fin",
                                        format: p=>p.fechaHoraFin == null ? string.Empty : p.fechaHoraFin.ToString(Formatos.FechaHoraCorta)),
                          grid.Column("", "Opciones",
                        @<text>

                           @if(Model.Filtro.DisponibilidadInspector.EstadoSolicitud == EstadosValor.SolicitudLicenciaPendiente){
                            <a href="#" class="sigen-width-20 glyphicon glyphicon-ok" id="btn-Programar" title="Programar" onclick="solicitudinspeccionjs.asignar('@Url.Action("Asignar", "GestionDisponibilidadInspectorBandeja", new { id = Model.Filtro.DisponibilidadInspector.NumeroSolicitud, idinspector = item.idInspector, idhorario = item.id, FechaInicio = item.fechaHoraInicio, FechaFin = item.fechaHoraFin })')"></a>   
                           }
                            
                           

                        </text>
                            )


                  })
<div class="text-center" id="grid-det-foot">
    @grid.PagerList(mode: WebGridPagerModes.All)
</div>






